<h2>Login</h2>

<form action="#/login" method="POST">
    <label for="">Потребителско име: </label>
    <input type="text" name="username">
    
    <label for="">Парола: </label>
    <input type="password" name="password">

    <input type="submit" value="Вход">
</form>