<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../node_modules/handlebars/dist/handlebars.min.js"></script>
</head>
<body>
    <script>
        (async function () {
            let source=await $.get('template.html')
            let template=Handlebars.compile(source)
            let context={
                title: "My new Post",
                body: "This is my handlebars post"
            }
            let html=template(context)
            $('body').append(html)
        }())
    </script>
</body>
